@model IPagedList<Product>
@{
    ViewData["Title"] = "Products";
    var searchParameter = Context.Request.Query["searchParameter"];
}

<h1 style="margin-top: 20px;">Products</h1>

@if(TempData["MSG_OK"] != null)
{
    <p class="alert alert-success">@Html.Raw(TempData["MSG_OK"])</p>
}
@if(TempData["MSG_ERROR"] != null)
{
    <p class="alert alert-danger">@Html.Raw(TempData["MSG_ERROR"])</p>
}

<form method="get" style="margin-top: 25px;">
    <div class="input-group mb-3">
        <input type="text" name="searchParameter" id="searchParameter" class="form-control" 
            value="@searchParameter" placeholder="Find a product by name...">
        <div class="input-group-append">
            <button type="submit" class="btn btn-primary">
                <span data-feather="search"></span>
            </button>
        </div>
    </div>
</form>

<a asp-action="Register" class="btn btn-primary" style="margin: 25px 0px 20px 0px;">
    Register
</a>

@if(Model.Count == 0)
{
    <br />
    <span>No products found.</span>
}
else
{
    <div class="table-responsive" style="margin-top: 25px;">
        <table class="table table-bordered">
            <thead>
                <tr>
                <th scope="col">@Html.DisplayNameFor(model => model.First().Id)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.First().Name)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.First().Category)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.First().UnitPrice)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.First().UnitsInStock)</th>
                <th scope="col">Options</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Product product in Model)
                {
                    <tr>
                        <th scope="row">@product.Id</th>
                        <td>@product.Name</td>
                        <td>@product.CategoryId</td>
                        <td>@product.UnitPrice</td>
                        <td>@product.UnitsInStock</td>
                        <td>
                             <a asp-action="Update" asp-route-id="@product.Id" 
                            class="btn btn-secondary btn-custom">
                                <span data-feather="edit"></span>
                            </a>
                            <a asp-action="Delete" asp-route-id="@product.Id" 
                            class="btn btn-danger btn-custom">
                                <span data-feather="trash"></span>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

@Html.PagedListPager(Model, page => Url.Action("Index", new { page = page, searchParameter = searchParameter }))