@model List<CartItem>
@{
    ViewData["Title"] = "Online Store - Payment";
    ShippingInformation shippingInfo = ViewData["ShippingInformation"] as ShippingInformation;
}

@if (Model != null && Model.Count == 0) 
{
    <div class="container">
        <p class="alert alert-primary" style="margin-top: 50px">
            No products in the Order.
        </p>
    </div>
}
else
{
    <main role="main">
        <section class="container" id="payment-container">
            <div class="row">
                <aside class="col-md-6">
                    <h4 class="subtitle-doc">
                        Order Details
                    </h4>
                    <div id="code_payment">
                        <article class="card">
                            <div class="card-body p-5">
                                <div id="code_itemside_img2">
                                    <div class="box items-bordered-wrap" id="order-products-list">
                                        @foreach (var cartItem in Model)
                                        {
                                            <div class="itemside">
                                                <div class="text-wrap align-self-center">
                                                    <h6 class="title">
                                                        <a asp-controller="Product" asp-action="ProductDetails" asp-route-id="@cartItem.Id"
                                                        class="products-item-name">
                                                            @cartItem.Product.Name
                                                        </a>
                                                    </h6>
                                                    <div class="price-wrap">
                                                        <span class="price-new">
                                                            <b>
                                                                @((cartItem.Product.UnitPrice * cartItem.Amount).ToString("c")) 
                                                            </b>
                                                            <small class="price-detail">
                                                                (@(cartItem.Amount) x @(cartItem.Product.UnitPrice.ToString("c")))
                                                            </small>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                    <div class="box" id="total-price-panel">
                                        @{
                                            decimal subtotalPrice = 0;
                                            foreach (var cartItem in Model)
                                                subtotalPrice += cartItem.Amount * cartItem.Product.UnitPrice;

                                            string freightType = 
                                                shippingInfo.FreightType == FreightTypes.PAC ? 
                                                "PAC" : "SEDEX";
                                        }
                                        <dl class="dlist-align">
                                            <dt>Subtotal</dt>
                                            <dd class="text-right" id="cart-subtotal-price">
                                                @(subtotalPrice.ToString("c"))
                                            </dd>
                                        </dl>
                                        <dl class="dlist-align">
                                            <dt style="width: 250px;">
                                                Shipping Rate 
                                                <small>[@freightType | @shippingInfo.EstimatedTimeOfArrivalInDays days]</small>
                                            </dt>
                                            <dd class="text-right">
                                                @(shippingInfo.Price.ToString("c"))
                                            </dd>
                                        </dl>
                                        <dl class="dlist-align">
                                            <dt>TOTAL</dt>
                                            <dd class="text-right" id="cart-total-price">
                                                <b>
                                                    @((subtotalPrice + (decimal)shippingInfo.Price).ToString("c"))
                                                </b>
                                            </dd>
                                        </dl>
                                    </div>
                                </div>
                        </article>
                    </div>
                </aside>
                <aside class="col-md-6">
                    <h4 class="subtitle-doc">
                        Payment Methods
                    </h4>
                    <div id="code_payment2">
                        <article class="card">
                            <div class="card-body p-5">
                                <ul class="nav bg radius nav-pills nav-fill mb-3" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" data-toggle="pill" href="#nav-tab-card">
                                            <i class="fa fa-credit-card"></i> Credit Card</a></li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="pill" href="#nav-tab-boleto">
                                            <i class="fas fa-barcode"></i> Brazilian Boleto</a></li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="pill" href="#nav-tab-bank">
                                            <i class="fa fa-university"></i> Bank Transfer</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane fade show active" id="nav-tab-card">
                                        <p class="alert alert-success">Some text success or error</p>
                                        <form role="form">
                                            <div class="form-group">
                                                <label for="username">Full name (on the card)</label>
                                                <input type="text" class="form-control" name="username" placeholder=""
                                                    required="">
                                            </div>
                                            <div class="form-group">
                                                <label for="cardNumber">Card number</label>
                                                <div class="input-group">
                                                    <input type="text" class="form-control" name="cardNumber"
                                                        placeholder="">
                                                    <div class="input-group-append">
                                                        <span class="input-group-text text-muted">
                                                            <i class="fab fa-cc-visa"></i> &nbsp; <i class="fab fa-cc-amex"></i>
                                                            &nbsp;
                                                            <i class="fab fa-cc-mastercard"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-8">
                                                    <div class="form-group">
                                                        <label><span class="hidden-xs">Expiration</span> </label>
                                                        <div class="input-group">
                                                            <input type="number" class="form-control" placeholder="MM"
                                                                name="">
                                                            <input type="number" class="form-control" placeholder="YY"
                                                                name="">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        <label data-toggle="tooltip" title="" data-original-title="3 digits code on back side of the card">CVV
                                                            <i class="fa fa-question-circle"></i></label>
                                                        <input type="number" class="form-control" required="">
                                                    </div>
                                                </div>
                                            </div>
                                            <button class="subscribe btn btn-primary btn-block" type="button"> Confirm
                                            </button>
                                        </form>
                                    </div>
                                    <div class="tab-pane fade" id="nav-tab-boleto">
                                        <p>
                                            The banking Boleto is a very popular payment method in Brazil.
                                        </p>
                                        <p>
                                            <button type="button" class="btn btn-primary">
                                                Generate Boleto
                                            </button>
                                        </p>
                                    </div>
                                    <div class="tab-pane fade" id="nav-tab-bank">
                                        <p>Bank accaunt details</p>
                                        <dl class="param">
                                            <dt>BANK: </dt>
                                            <dd> THE WORLD BANK</dd>
                                        </dl>
                                        <dl class="param">
                                            <dt>Accaunt number: </dt>
                                            <dd> 12345678912345</dd>
                                        </dl>
                                        <dl class="param">
                                            <dt>IBAN: </dt>
                                            <dd> 123456789</dd>
                                        </dl>
                                        <p><strong>Note:</strong> Lorem ipsum dolor sit amet, consectetur adipisicing
                                            elit, sed do eiusmod
                                            tempor incididunt ut labore et dolore magna aliqua. </p>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                </aside>
            </div>
        </section>
    </main>
}