@model List<CartItem>
@{
    ViewData["Title"] = "Online Store - Shopping Cart";
}

@if (ViewData["MSG_ERROR"] != null)
{
    <p class="alert alert-danger">@Html.Raw(ViewData["MSG_ERROR"])</p>
}

@if (Model != null && Model.Count == 0) 
{
    <p class="alert alert-primary" style="margin-top: 50px">
        No products in the cart.
    </p>
}
else
{
    <main role="main">
        <section class="container" id="order" style="margin-top: 50px">
            <p id="cart-error-message" class="alert alert-warning" style="display: none;"></p>
            <h2 class="title-doc">Shopping Cart</h2>
            <div id="code_cart">
                <div class="card">
                    <table class="table table-hover shopping-cart-wrap cart-table">
                        <thead class="text-muted">
                            <tr>
                                <th scope="col">Product</th>
                                <th scope="col" width="160">Quantity</th>
                                <th scope="col" width="140">Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var cartItem in Model)
                            {
                                <tr class="product-row">
                                    <td>
                                        <figure class="media">
                                            <div class="img-wrap">
                                                <a asp-controller="Product" asp-action="ProductDetails" asp-route-id="@cartItem.Id">
                                                    @if (cartItem.Product.Images != null && cartItem.Product.Images.Count > 0)
                                                    {
                                                        <img src="@cartItem.Product.Images.FirstOrDefault().Path" class="img-thumbnail img-sm">
                                                    }
                                                    else
                                                    {
                                                        <img src="/img/default-image.png" class="img-thumbnail img-sm">
                                                    }
                                                </a>
                                            </div>
                                            <figcaption class="media-body">
                                                <h6 class="title text-truncate product-name">@cartItem.Product.Name</h6>
                                            </figcaption>
                                        </figure>
                                    </td>
                                    <td>
                                        <div class="col-auto input-buttons-container">
                                            <div class="input-group input-buttons-group">
                                                <div class="input-group-prepend">
                                                    <a class="btn btn-outline-info increase-button">
                                                        + 
                                                    </a>
                                                </div>
                                                <input type="text" class="form-control product-amount"
                                                    readonly value="@cartItem.Amount">
                                                <div class="input-group-append">
                                                    <a class="btn btn-outline-info decrease-button">
                                                        - 
                                                    </a>
                                                </div>
                                            </div>
                                            <input type="hidden" class="product-id" value="@cartItem.Id">
                                            <input type="hidden" class="product-unitsInStock" value="@cartItem.Product.UnitsInStock">
                                            <input type="hidden" class="product-unitPrice" value="@cartItem.Product.UnitPrice">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="price-wrap">
                                            @{
                                                var productTotalPrice = cartItem.Product.UnitPrice * cartItem.Amount;
                                            }
                                            <var class="price product-totalPrice" value="@productTotalPrice">
                                                @productTotalPrice.ToString("c")
                                            </var>
                                            <small class="text-muted">
                                                @cartItem.Product.UnitPrice.ToString("c")
                                            </small>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
        <br />
        <br />
        <section class="container">
            <div class="row">
                <aside class="col-md-4" style="margin-bottom: 40px;">
                    <h4 class="subtitle-doc">
                        Shipping Rates
                    </h4>
                    <div id="code_desc_align">
                        <div class="box">
                            <dl class="dlist-align">
                                <dt>CEP:</dt>
                                <dd>
                                    <input type="text" name="cep" 
                                        class="form-control" style="height: 30px;">
                                </dd>
                            </dl>
                            <dl class="dlist-align">
                                <dt><input type="radio" name="shipping-option-sedex"></dt>
                                <dd>SEDEX - $ 0,00</dd>
                            </dl>
                            <dl class="dlist-align">
                                <dt><input type="radio" name="shipping-option-pac"></dt>
                                <dd>PAC - $ 0,00</dd>
                            </dl>
                        </div>
                    </div>
                </aside>
                <aside class="offset-md-4 col-md-4">
                    <h4 class="subtitle-doc">
                        Final Price
                    </h4>
                    <div id="code_desc_right">
                        <div class="box">
                            @{
                                decimal subtotalPrice = 0;
                                foreach (var cartItem in Model)
                                    subtotalPrice += cartItem.Amount * cartItem.Product.UnitPrice;
                                decimal shippingRate = 0;
                                decimal totalPrice = shippingRate + subtotalPrice;
                            }

                            <dl class="dlist-align">
                                <dt>Subtotal</dt>
                                <dd class="text-right" id="cart-subtotalPrice">
                                    @(subtotalPrice.ToString("c"))
                                </dd>
                            </dl>
                            <dl class="dlist-align">
                                <dt style="width: 120px;">Shipping Rate</dt>
                                <dd class="text-right" id="cart-shippingRate">
                                    @(shippingRate.ToString("c"))
                                </dd>
                            </dl>
                            <dl class="dlist-align">
                                <dt>TOTAL</dt>
                                <dd class="text-right" id="cart-totalPrice">
                                    <b>@(totalPrice.ToString("c"))</b>
                                </dd>
                            </dl>
                        </div>
                    </div>
                </aside>
            </div>
        </section>
    </main>
}