@model IPagedList<Collaborator>
@{
    ViewData["Title"] = "Collaborators";
}

<h1 style="margin-top: 20px;">Collaborators</h1>

@if(TempData["MSG_OK"] != null)
{
    <p class="alert alert-success">@Html.Raw(TempData["MSG_OK"])</p>
}
@if(TempData["MSG_ERROR"] != null)
{
    <p class="alert alert-danger">@Html.Raw(TempData["MSG_ERROR"])</p>
}

<a asp-action="Register" class="btn btn-primary" style="margin: 25px 0px 20px 0px;">
    Register
</a>

@if(Model.Count == 0)
{
    <br />
    <span>There are no registered collaborators.</span>
}
else
{
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                <th scope="col">@Html.DisplayNameFor(model => model.First().Id)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.First().Name)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.First().Email)</th>
                <th scope="col">Options</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Collaborator collaborator in Model)
                {
                    <tr>
                        <th scope="row">@collaborator.Id</th>
                        <td>@collaborator.Name</td>
                        <td>@collaborator.Email</td>
                        <td>
                            <a asp-action="Update" asp-route-id="@collaborator.Id" 
                            class="btn btn-secondary btn-custom">
                                Update
                            </a>
                            <a asp-action="Delete" asp-route-id="@collaborator.Id" 
                            class="btn btn-danger btn-custom">
                                Delete
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))