@model ProductListViewModel
@{
    var searchParameter = Context.Request.Query["searchParameter"];
    var sortingOption = Context.Request.Query["sortingOption"].ToString();
    var currentAction = ViewContext.RouteData.Values["action"].ToString();

    string categoryName;
    if (ViewData["CategoryName"] != null)
        categoryName = ViewData["CategoryName"].ToString();
    else
        categoryName = "All Products";
}

@if (Model.Products.Count > 0)
{
    <div class="container" id="code_prod_complex">
        <div class="row">
            <div class="col-md-4">
                <h1>@categoryName</h1>
            </div>
            <div class="offset-md-6 col-md-2">
                Sort by:
                <select id="sortingOption" asp-items="@Model.SortingOptionsList"
                    asp-for="@sortingOption" class="form-control"></select>
            </div>
        </div>
        <div class="row home-products-container">
            @foreach (var product in Model.Products)
            {
                <a asp-controller="Product" asp-action="ProductDetails" asp-route-id="@product.Id">
                    <div class="col-md-3 home-products">
                        <figure class="card card-product">
                            <div class="img-wrap">
                                @if (product.Images != null && product.Images.Count > 0)
                                {
                                    <img src="@product.Images.ElementAt(0).Path">
                                }
                                else
                                {
                                    <img src="/img/default-image.png">
                                }
                            </div>
                            <figcaption class="info-wrap">
                                <h4 class="title">@product.Name</h4>
                            </figcaption>
                            <div class="bottom-wrap" style="border: none;">
                                <a href="" class="btn btn-sm btn-primary float-right product-button">
                                    <i class="fas fa-shopping-cart"></i> Add to Cart
                                </a>
                                <div class="price-wrap h5 product-price">
                                    <span class="price-new">@product.UnitPrice.ToString("C")</span>
                                </div>
                            </div>
                        </figure>
                    </div>
                </a>
            }
        </div>
        <div style="text-align: center;">
            @Html.PagedListPager(Model.Products, page => Url.Action(currentAction, 
                new { page = page, searchParameter = searchParameter, sortingOption = sortingOption }))
        </div>
    </div>
}
else
{
    <div class="container">
        <div class="alert alert-info">
            No products belonging to this category were found.
        </div>
    </div>
}