@model IPagedList<Customer>
@{
    ViewData["Title"] = "Customers";
    var searchParameter = Context.Request.Query["searchParameter"];
}

<h1 style="margin-top: 20px;">Customers</h1>

@if(TempData["MSG_OK"] != null)
{
    <p class="alert alert-success">@Html.Raw(TempData["MSG_OK"])</p>
}
@if(TempData["MSG_ERROR"] != null)
{
    <p class="alert alert-danger">@Html.Raw(TempData["MSG_ERROR"])</p>
}

<form method="get" style="margin-top: 25px;">
        <div class="input-group mb-3">
            <input type="text" name="searchParameter" id="searchParameter" class="form-control" 
                value="@searchParameter" placeholder="Find a customer by name or email...">
            <div class="input-group-append">
                <button type="submit" class="btn btn-primary">
                    <span data-feather="search"></span>
                </button>
            </div>
        </div>
</form>

@if(Model.Count == 0)
{
    <br />
    <span>There are no registered customers.</span>
}
else
{
    <div class="table-responsive" style="margin-top: 25px;">
        <table class="table table-bordered">
            <thead>
                <tr>
                <th scope="col">@Html.DisplayNameFor(model => model.First().Id)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.First().Name)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.First().Email)</th>
                <th scope="col">Options</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Customer customer in Model)
                {
                    <tr>
                        <th scope="row">@customer.Id</th>
                        <td>@customer.Name</td>
                        <td>@customer.Email</td>
                        <td>
                            @if (customer.IsTheAccountActive)
                            {
                                <a asp-action="ActivateOrDeactivateTheCustomerAccount" asp-route-id="@customer.Id" 
                                class="btn btn-danger btn-custom">
                                    Deactivate
                                </a>
                            }
                            else
                            {
                                <a asp-action="ActivateOrDeactivateTheCustomerAccount" asp-route-id="@customer.Id" 
                                class="btn btn-secondary btn-custom">
                                    Activate
                                </a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

@Html.PagedListPager(Model, page => Url.Action("Index", new { page = page, searchParameter = searchParameter }))